@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Open+Sans:wght@300&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
}

.title-bar {
	padding: 10px;
}

.title {
	color: white;
}

.subtitle {
	color: white;
}