.tier-row-item {
    display: inline-block;
    text-align: center;
    margin: 10px;
    background-color: #282C34;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
  }

.button:hover {
    background-color: #008CBA; /* Green */
    color: white;
    border-radius: 10px;
}

.w-100 {
    width: 100%;
}

.title {
    color: white;
}

a {
    color: #008CBA;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

a:visited {
    color: #008CBA;
}

.white {
    color: white;
}